@font-face { 
    font-family: 'Hibana';
    src: url('Hibana-SubMedium.otf') format('truetype');
}

*,
*::before, 
*::after {
  box-sizing: border-box;
}


:where(ul, ol):where([class]) {
  padding-left: 0;
}


body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}


:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(ul[class]) {
  list-style: none;
}


img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
    --color-black: #171717;
    --color-white: #FFFFFF;
    --color-darkGray: #464646;
    --color-dark2Gray: #3D3D3D;
    --color-gray: #909192;
    --color-grayLight: #EBEBEB;
    --color-red: #D82600;
    --color-darkRed: #9A1B00;
    --font-family-base: "Hibana", sans-serif;

    --transition-duration: 0.2s;
}

h1{
    text-transform: uppercase;
    font-size: 400px;
}

h4{
  text-transform: uppercase;
  font-size: 80px;
  line-height: 144px;
}

h6{
  font-size: 48px;
  line-height: 47px;
  margin: 0;
  padding: 0;
}

.text-b1{
    font-family: var(--font-family-base);
    font-size: 40px;
    letter-spacing: 0px;
    text-align: left;
    line-height: 48px;
}

.text-b4{
    font-family: var(--font-family-base);
    font-size: 32px;
    letter-spacing: 0px;
    text-align: left;
}

.text-b3 {
    font-family: var(--font-family-base);
    font-size: 24px;
    letter-spacing: 0px;
    text-align: left;
}

body{
    font-family: var(--font-family-base);
    background-color: var(--color-white);
}

a,button{
    transition-duration: var(--transition-duration);
}

a {
    color: var(--color-black);
}

a:hover {
    color: var(--color-red);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 280px;
    padding-block: 24px;
    background-color: var(--color-white);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);

}

.header-logo{
    flex-shrink: 0;
}

.header-menu-list {
    display: flex;
    column-gap: 40px;
}

.header-menu-link {
    text-transform: lowercase;
    text-decoration: none;
    width: 125px;
    height: 34px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px 12px 8px 12px;
}

.header-menu-link.is-current::after{
    color: var(--color-red);
}

.content{
    display: flex;
    flex-direction: column;
    padding-inline: 280px;
    padding-bottom: 600px;
    padding-block: 24px;
    gap:260px;
}

.banner {
  position: relative;
  overflow: hidden;
}


.overlay-photo {
  position: absolute;
  opacity: 1; 
  transition: none; 
}

.banner-title{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.banner-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.banner-button{
  width: 320px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  padding: 16px 20px;
  background-color: var(--color-black);
  text-decoration: none;
  color: var(--color-white);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.banner-button:hover {

  background-color: var(--color-red);
  color: var(--color-white);
}

.banner-button .button-icon {
  width: 28px;
  height: 28px;
}

/*ГАЛЕРЕЯ*/

.gallery-bg {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: var(--color-black); 
  z-index: 0;
}

.photo-gallery {
  position: relative;
  z-index: 1;
  padding-block: 80px;   
  padding-inline: 280px; 
}

.photo-list {
  display: grid;
  grid-template-columns: repeat(12, 95px);
  column-gap: 20px;
}

.photo-list .photo-item:first-child {
   font-family: var(--font-family-base);
  font-size: 32px;
  letter-spacing: 0px;
  text-align: left;
  grid-column: 1 / 3; 
}

.photo-list .photo-item:nth-child(2) {
  grid-column: 3 / 6; 
}

.photo-list .photo-item:nth-child(3){
  grid-column:  8 / 13; 
  align-self: start;
}

.photo-list .photo-item:nth-child(4){
  grid-column:  6 / 10; 
  margin-top: -90px; 
  margin-bottom: 20px; 
}

.photo-list .photo-item:nth-child(5){
  grid-column:  3 / 8; 
  align-self: start;
}

.photo-list .photo-item:nth-child(6){
  grid-column:  10/ 13; 
  margin-top: -74px; 
  margin-bottom: 20px;
}

.photo-list .photo-item:nth-child(7){
  grid-column:  8 / 11; 
}

.photo-item {
  position: relative; 
  overflow: hidden; 
}

.photo-item img {
  width: auto;       
  height: auto;       
  display: block;
  object-fit: cover;  
  transition: filter 0.3s;
}

.photo-caption {
  position: absolute;
  bottom: 32px;
  left: 32px;
  color: var(--color-white);
  font-size: 32px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  z-index: 2;
  font-family: inherit;
}

.photo-item:hover img {
  filter: brightness(55%);
}

.photo-item:hover .photo-caption {
  opacity: 1;
}

/*ЗАЛЫ*/

.halls {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.halls-heading, .reviews-heading, .FAQ-heading, .persons-heading {
  display: flex; 
  flex-direction: row; 
  justify-content: flex-start; 
  gap: 20px;
}

.halls-heading h4, .reviews-heading h4, .price-heading h4, .FAQ-heading h4, .persons-heading h4{
  line-height: 84px;
  margin: 0;
  padding: 0;
}

.halls-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 44px;
  justify-content: flex-start; 
  width: 100%;
}

.arrow-buttons {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.arrow-btn {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
}

.arrow-btn img {
  width: 120px;
  height: 80px;
  filter: brightness(0);
}

.arrow-btn.arrow-icon-right:hover:not(.halls-arrow-disabled) img {
  filter: brightness(0.8);
}

.halls-arrow-disabled {
  color: var(--color-gray) !important;
  cursor: default !important;
  pointer-events: none;
}

.halls-arrow-disabled img {
  filter: brightness(0.5); 
}

/*НАДПИСЬ*/

.label {
  width: 100%;
  display: flex;
  height: 650px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.main-label h4 {
  text-align: center; 
}

.rotated-photo {
  position: absolute;
  top: 78%; 
  left: 62%; 
  transform: translate(-50%, -50%) rotate(-4deg); 
  width: 430px; 

}
/*ФОТОГРАФЫ*/
.persons {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap:40px;
}

.persons-slider {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.persons-track {
  display: flex;
  transition: transform 0.4s ease;
  gap: 20px;
}
.person-card {
  flex: 0 0 450px;         
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.person-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.person-name {
  font-size: 32px;
  line-height: 1.2;
  margin-top: 16px;
  
}

.person-style {
  font-size: 28px;
  line-height: 1.4;
  margin-top: 2px;
  color:var(--color-gray)
}

.person-more {
  color: inherit;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.arrow-buttons2{
  margin-left: auto;      
  margin-top: auto; 
  align-items: flex-end; 
}

.person-more {
  border: none;           
  background: none;       
  padding: 0;               
  margin-top: 16px;          
  font-size: 24px;           
  color: var(--color-red);   
  display: inline-flex;
  align-items: center;
  gap: 8px;                  
  cursor: pointer;
}

.person-more-arrow {
  font-size: 24px;
  color: var(--color-red);   
}

.arrow-icon-left,
.arrow-icon-right {
  color: var(--color-black); 
  transition: color 0.3s ease;
}

.persons-arrow-disabled {
  color: var(--color-gray);          
  pointer-events: none;    
}
.arrow-buttons2 .arrow-icon-left {
  transform: rotate(180deg); 
}




/*ЦЕНА*/

.price{
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.price-heading {
  display: flex; 
  flex-direction: row; 
  justify-content: flex-start; 
  gap: 20px;
}

.price-1{
  display: flex;
  flex-direction: column;
  gap: 24px; 
  margin-left: 230px;
}

.paket{
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start;
  gap:12px;
  width: 352px;
}
.info-price{
  display: flex; 
  flex-direction: row; 
  gap:109px;
  width: 100%;
}


.all-points li {
  position: relative;
  padding-left: 40px; 
  margin-bottom: 8px;
  font-family: var(--font-family-base);
  font-size: 24px;
  letter-spacing: 0px;
  text-align: left;
  line-height: 28px;
}

.all-points li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 1px;
  background-color: var(--color-black); 
}

.button_filled_small {
  width: 332px;
  height: 54px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 16px 20px;
  background-color: var(--color-black);
  color: var(--color-white);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button_filled_small:hover {
  background-color: var(--color-red);
}

.button_filled_small .button-icon {
  width: 24px;
  height: 24px;
}

.button-wrapper {
  display: flex;
  margin-left: 460px;
}

.horizontal-line {
  width: 100%;
  max-width: 1130px;
  min-width: 700px;
  height: 1px;
  background-color: var(--color-black);
  margin-bottom: 8px;
}


/*ОТЗЫВЫ*/

.review{
  display: flex;
  flex-direction: column;
  gap: 44px;
}


.all-reviews{
  display: grid;
  grid-template-columns: repeat(12, minmax(70px, 95px));
  column-gap: 20px;
  row-gap: 64px;
}

.all-reviews, .review-1:first-child {
  grid-column:  3 / 7;
}

.all-reviews, .review-1:nth-child(2) {
  grid-column:  9 / 13; 
}

.all-reviews, .review-1:nth-child(3) {
  grid-column:  6 / 11; 
}

.all-reviews, .review-1:nth-child(4) {
  grid-column:  3 / 7; 
}

.all-reviews, .review-1:nth-child(5) {
  grid-column:  9 / 13; 
}


.review-1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.reviews-heading {
  display: flex; 
  flex-direction: row; 
  justify-content: flex-start; 
  gap: 20px;
}

.about-person{
  display: flex; 
  flex-direction: row; 
  justify-content: flex-start; 
  align-items: center;
  gap: 20px;
}

.person-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}

.photo-avatar{
  width: 105px;
  height: 105px;
}

.stars {
  display: flex;
  flex-direction: row; 
  gap: 4px;
}

.date{
  color: var(--color-gray);
}

/*FAQ*/

.FAQ{
  display: flex;
  gap: 36px;
  flex-direction: column;
}

.accordion{
  display: grid;
  grid-template-columns: repeat(12, minmax(70px, 95px));
  column-gap: 20px;
  padding-bottom: 200px;

}
.accordion__item {
  grid-column: 3 / 13;
  cursor: pointer;
  grid-template-rows: min-content minmax(0, 0fr);
  border-bottom: 1px solid var(--color-grayLight);
  height: 106px;
  overflow: hidden;
  transition: height 0.3s ease;
}

.accordion__item:first-child {
  border-top: 1px solid var(--color-grayLight);
}

.accordion__item.show {
  grid-template-rows: min-content minmax(0, 1fr);
  height: auto;
}

.accordion-item__body {
  transition: var(--transition);
  overflow: hidden;
  opacity: 0;
  color: var(--color-gray);
  padding: 0 16px;
  font-size: 24px;

}

.accordion__item.show .accordion-item__body {
  opacity: 1;
  max-height: 500px;
}

.accordion-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 106px;
  padding: 0 16px;
  user-select: none;
}
.arrow-icon {
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.accordion__item.show .arrow-icon {
transform: rotate(180deg);
}

/*Футер*/

.footer-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(70px, 95px));
  column-gap: 20px;
  align-content: space-between;
  padding-inline: 280px;
  padding-top: 40px;     
  padding-bottom: 100px;
  width: 100%;
  background: #EBEBEB;   
}

.footer-main,
.footer-socials,
.footer-contacts{
    gap: 28px;
    font-family: var(--font-family-base);
    font-size: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.footer-main ul {
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-grid .text-b3 {
  display: block;
  margin-bottom: 48px;
}

.footer-main li {
  margin-bottom: 8px;
}

.footer-grid a {
  text-decoration: none;
}
