@font-face { 
    font-family: 'Hibana';
    src: url('Hibana-SubMedium.otf') format('truetype');
}

*,
*::before, 
*::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}


:where(
  h1,
  h2,
  h3,
  h4,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}


:where(ul[class]) {
  list-style: none;
}


body {
  min-height: 100%;
  line-height: 1.5;
}


:root {
    --color-black: #171717;
    --color-white: #FFFFFF;
    --color-darkGray: #464646;
    --color-dark2Gray: #3D3D3D;
    --color-gray: #909192;
    --color-grayLight: #EBEBEB;
    --color-red: #D82600;
    --color-darkRed: #9A1B00;
    --font-family-base: "Hibana", sans-serif;
    --transition-duration: 0.2s;
}

h1{
    text-transform: uppercase;
    font-size: 128px;
}
h2{
    text-transform: uppercase;
    font-size: 128px;
    line-height: 0px;
}

.text-b4{
    font-family: var(--font-family-base);
    font-size: 32px;
    letter-spacing: 0px;
    text-align: left;
}

.text-b3 {
    font-family: var(--font-family-base);
    font-size: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 20px;
}

body{
    font-family: var(--font-family-base);
    background-color: var(--color-white);
}

a {
    color: var(--color-black);
}

a:hover {
    color: var(--color-red);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: grid;
    grid-template-columns: repeat(12, minmax(70px, 95px));
    gap: 20px;
    align-items: center;
    padding-inline: 280px;
    padding-block: 24px;
    background-color: var(--color-white);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
}

.header-logo{
    flex-shrink: 0;
    grid-column: 1;
}

.header-menu {
  grid-column: 4 / 13; 
  justify-self: end; 
}

.header-menu-list {
    display: flex;
    column-gap: 40px;
}

.header-menu-link {
    text-transform: lowercase;
    text-decoration: none;
    width: 125px;
    height: 34px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px 12px 8px 12px;
}

.header-menu-link.is-current {
    color: var(--color-red);
}

.content{
    display: flex;
    flex-direction: column;
    gap: 260px;
    min-width: 1410px;
}

.gallery-heading {
    display: grid;
    grid-template-columns: repeat(12, minmax(70px, 95px));
    column-gap: 20px;
    margin-top: 70px;
}

.link-home {
    grid-column: 1 / 4; 
    color: inherit;
    text-decoration: none;
    font-size: 24px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s ease;
}

/*Заголовок*/

.gallery-heading h2 {
  grid-column: 4 / 13; 
  justify-self: end; 
  margin-top: 70px; 
  padding: 0;
}

.gallery-heading .link-home{
  align-self: flex-start;
}

.link-home:hover {
    color: var(--color-gray); 
    cursor: pointer;
}

.icon {
    stroke: currentColor; 
    transition: stroke 0.3s ease;
}


/*Галерея*/


.photo-gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block: 80px;   
    padding-inline: 280px; 
}

.photo-list {
    display: grid;
    grid-template-columns: repeat(12, minmax(70px, 95px));
    column-gap: 20px;
}

.photo-list .photo-item:first-child{
    grid-column: 3 / 7; 
    margin-bottom: -262px; 
}

.photo-list .photo-item:nth-child(2){
    grid-column:  9 / 13; 
    align-self: start;
    margin-bottom: 20px; 
}

.photo-list .photo-item:nth-child(3){
    grid-column:  1 / 5; 
    margin-top: 282px; 
    margin-bottom: 20px; 
}

.photo-list .photo-item:nth-child(4){
    grid-column:  7 / 13; 
    margin-bottom: 20px; 
    align-self: start;
}

.photo-list .photo-item:nth-child(5){
    grid-column:  4/ 8; 
    margin-bottom: 20px;
    align-self: start;
}

.photo-list .photo-item:nth-child(6){
    grid-column:  9 / 13; 
    margin-top: -70px; 
    margin-bottom: -110px;
}

.photo-list .photo-item:nth-child(7){
    grid-column:  1 / 9; 
}

.photo-item {
    position: relative; 
    overflow: hidden; 
}

.photo-item img {
    width: 100%;       
    height: auto;       
    display: block;
    object-fit: cover;  
    transition: filter 0.3s;
}

.photo-caption {
    position: absolute;
    bottom: 32px;
    left: 32px;
    color: var(--color-white);
    font-size: 32px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    font-family: inherit;
}

.photo-item:hover img {
    filter: brightness(55%);
}

.photo-item:hover .photo-caption {
    opacity: 1;
}

/*Футер*/

.footer-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(70px, 95px));
  column-gap: 20px;
  align-content: space-between;
  padding-inline: 280px;
  padding-top: 40px;     
  padding-bottom: 100px;
  width: 100%;
  background: #EBEBEB;   
}

.footer-main,
.footer-socials,
.footer-contacts{
    gap: 28px;
    font-family: var(--font-family-base);
    font-size: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.footer-main ul {
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-grid .text-b3 {
  margin-bottom: 48px;
}

.footer-main li {
  margin-bottom: 8px;
}

.footer-grid a {
  text-decoration: none;
}

