@font-face { 
    font-family: 'Hibana';
    src: url('fonts/Hibana-SubMedium.otf') format('truetype');
}

/**
  Нормализация блочной модели
 */
*,
*::before, 
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /** Пригодится в большинстве ситуаций(когда, например, нужно будет "прижать" футер к низу сайта)*/
  height: 100%;
  /**Плавный скролл*/
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
    --color-black: #171717;
    --color-white: #FFFFFF;
    --color-darkGray: #464646;
    --color-dark2Gray: #3D3D3D;
    --color-gray: #909192;
    --color-grayLight: #EBEBEB;
    --color-red: #D82600;
    --color-darkRed: #9A1B00;
    --font-family-base: "Hibana", sans-serif;

    --transition-duration: 0.2s;
}


h1{
    text-transform: uppercase;
    font-size: 128px;
}
h2{
    text-transform: uppercase;
    font-size: 128px;
    line-height: 0px;
}


.text-b4{
    font-family: var(--font-family-base);
    font-size: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.text-b3 {
    font-family: var(--font-family-base);
    font-size: 24px;
    letter-spacing: 0%;
    text-align: left;
}

body{
    font-family: var(--font-family-base);
    background-color: var(--color-white);
}

a {
    color: var(--color-black);
}

a:hover {
    color: var(--color-red);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 280px;
    padding-block: 24px;
    background-color: var(--color-white);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
}

.header-logo{
    flex-shrink: 0;
}

.header-menu-list {
    display: flex;
    column-gap: 40px;
    
}

.header-menu-link {
    text-transform: lowercase;
    text-decoration: none;
    width: 125px;
    height: 34px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px 12px 8px 12px;
}

.header-menu-link.is-current::after{
    color: var(--color-red);
}

.content{
    display: flex;
    flex-direction: column;
    gap: 260px;
    min-width: 1410px;
}

.gallery-heading{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
}

.link-home {
    color: inherit; 
    text-decoration: none;
    font-size: 24px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-top: 32px;
    transition: color 0.3s ease;
}

.link-home:hover {
    color: var(--color-gray); 
    cursor: pointer;
}

.icon {
    stroke: currentColor; 
    transition: stroke 0.3s ease;
}

.photo-gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block: 80px;   
    padding-inline: 280px; 
}

.photo-list {
    display: grid;
    grid-template-columns: repeat(12, minmax(1fr, 95px));
    column-gap: 20px;
}

.photo-list .photo-item:first-child{
    grid-column: 3 / 7; 
    margin-bottom: -262px; 
}

.photo-list .photo-item:nth-child(2){
    grid-column:  9 / 13; 
    align-self: start;
    margin-bottom: 20px; 
}

.photo-list .photo-item:nth-child(3){
    grid-column:  1 / 5; 
    margin-top: 282px; 
    margin-bottom: 20px; 
}

.photo-list .photo-item:nth-child(4){
    grid-column:  7 / 13; 
    margin-bottom: 20px; 
    align-self: start;
}

.photo-list .photo-item:nth-child(5){
    grid-column:  4/ 8; 
    margin-bottom: 20px;
    align-self: start;
}

.photo-list .photo-item:nth-child(6){
    grid-column:  9 / 13; 
    margin-top: -70px; 
    margin-bottom: -110px;
}

.photo-list .photo-item:nth-child(7){
    grid-column:  1 / 9; 
}

.photo-item {
    position: relative; 
    overflow: hidden; 
}

.photo-item img {
    width: 100%;       
    height: auto;       
    display: block;
    object-fit: cover;  
    transition: filter 0.3s;
}

.photo-caption {
    position: absolute;
    bottom: 32px;
    left: 32px;
    color: var(--color-white);
    font-size: 32px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    font-family: inherit;
}

.photo-item:hover img {
    filter: brightness(55%);
}

.photo-item:hover .photo-caption {
    opacity: 1;
}

/*Футер*/

.footer-grid {
  padding-inline: 280px;
  padding-top: 40px;     
  padding-bottom: 100px;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(12, minmax(1fr, 95px));
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
  background: #EBEBEB;   
}

.footer-main,
.footer-socials,
.footer-contacts{
    display: flex;
    flex-direction: column;
    gap: 28px;
    font-family: var(--font-family-base);
    font-size: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.footer-main ul {
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-grid .text-b3 {
  display: block;
  margin-bottom: 48px;
}

.footer-main li {
  margin-bottom: 8px;
}

.footer-grid a {
  text-decoration: none;
}

